<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Sheet</h1>
  <ion-button (click)="presentActionSheet()">Show Action Sheet</ion-button><br>
  <h1>Alert</h1>
  <ion-button (click)="presentAlert()">Show Alert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">Show Alert (multiple buttons)</ion-button>
  <ion-button (click)="presentAlertConfirm()">Show Alert (confirm)</ion-button>
  <ion-button (click)="presentAlertPrompt()">Show Alert (prompt)</ion-button>
  <ion-button (click)="presentAlertRadio()">Show Alert (radio)</ion-button>
  <ion-button (click)="presentAlertCheckbox()">Show Alert (checkbox)</ion-button>
</ion-content>